.App-link {
  color: #61dafb;
}

.title {
  margin-left: 20px;
  color: white;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.header {
  background-color: rgb(8, 102, 71);
  padding: 5px;
  display: flex;
  justify-content: space-between;
}

.message {
  margin-left: 25px;
}

.description {
  text-align: center;
  font-size: 48px;
  text-decoration: underline;
}

.btn-header {
  height: 20px;
  margin-top: 25px;
  margin-right: 15px;
  background-color: white;
  padding: 2px;
  border-radius: 20%;
  color: black;
  border: black 1px solid;
  text-decoration: none;
}

.btn-create {
  font-size: 46px;
  margin-top: 25px;
  margin-left: 36%;
  background-color: white;
  padding: 2px;
  border-radius: 20%;
  color: black;
  border: black 3px solid;
  text-decoration: none;
  align-items: center;
}

.btn-body {
  height: 25px;
  margin-top: 25px;
  margin-right: 15px;
  background-color: white;
  padding: 2px;
  border-radius: 20%;
  color: black;
  border: black 1px solid;
  text-decoration: none;
}

.content {
  display: flex;
  margin: 10px;
  padding: 10px;
}

.left-content {
  border: 2px solid black;
  padding: 10px;
  width: 66%;
  margin: 5px;
}

.right-content {
  width: 33%;
  margin: 5.3px;
}

.create-box {
  border: 2px solid black;
  padding: 10px;
}

.about-box {
  border: 2px solid black;
  padding: 10px;
  margin-top: 10px;
}

.table {
  
  border: solid black 1px;
  justify-content: space-between;
}

th {
  border: solid black 1px;
  width: 100%;
  height: 30px;
}

td {
  width: 100%;
  border: solid black 1px;
  height: 30px;
}

.form-start{
  text-align: center;
  margin: 40px;
}

.form {
  width: 90%;
  margin: 30px;
  padding: 20px;
  border: solid black 3px;
}

.inputs {
  text-align: left;
  font-size: 18px;
  margin: 10px;
  padding-bottom: 20px;
}

.page-title{
  text-decoration: underline;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input {
  width: 70%;
  height: 24px;
  margin: 10px;
}

.center {
  text-align: center;
  font-size: 34px;
}
